.resume {
    background-color: rgb(177, 177, 177);

    .container {
        display: flex;
        padding: 50px 50px;
        margin: 20px;

        .summary {

            h2 {
                text-align: center;
            }

            p {
                text-align: center;
            }
        }
    }
}